<div id="login" fxLayout="column" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

            
            <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                Faciliter la gestion de votre club sportif
            </div>

            <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
               <button class="btn" mat-raised-button  routerLink='/'> Savoir plus </button>
            </div>
    </div>      
    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
           <div id="login-form">

               <div class="logo" >
                 <img src="assets/images/logos/ball-logo-png.png">
               </div>

               <div class="title">CONNECTEZ-VOUS À VOTRE COMPTE</div>
            <form name="loginForm" name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" #userName >
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email est requis
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password"  #userPassword >
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Mot de passe requis
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Souviens-toi de moi
                    </mat-checkbox> 

                    <a class="forgot-password" [routerLink]="'/forgotpassword'">
                        Mot de passe oublié?
                    </a>
                </div>

                <button mat-raised-button color="light-green" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid" (click)="auth.SignIn(userName.value, userPassword.value)">
                    LOGIN
                </button>

            </form>

            <div class="separator">
                <span class="text">OR</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center">
            <button mat-raised-button class="google" (click)="auth.googleSignin()" #guest>
                Log in with Google
            </button>
            <button mat-raised-button class="facebook" (click)="auth.facebookSignin()" #guest>
                    Log in with Facebook
            </button>
            </div>

                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <span class="text">Vous n'avez pas de compte?</span>
                    <a class="link" [routerLink]="'/inscription'">Créer un compte</a>
                </div>

                
   
    
</div>
</div>
</div>
