<!-- BOARDS -->
<div id="boards" fxLayout="column" [formGroup]="form" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar
 style="background-image: url('assets/images/scrumboard/back.jpg'); background-position: center;  height: 100%; background-repeat: no-repeat;background-size: cover;">

        <div  fxLayout="row" id="slide">
            <mat-slide-toggle color="primary" (change)="toggleView()">
                Le plus proches Terrain
            </mat-slide-toggle>
       </div>
        <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center"  fxFlex="0 0 auto"
             [@animate]="{value:'*',params:{delay:'100ms'}}">
            <h1>TROUVEZ UN TERAIN!</h1>
        </div>
    
 

            <div class="card-preview" *ngIf="showmap == true" > 
     <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center" [@animateStagger]="{value:'50'}"> 

<div class="board-list-item" fxLayout="column" fxLayoutAlign="center center" [@animate]="{value:'*',params:{y:'50%'}}">
    <div class="mat-title">Date  </div>
    <mat-form-field  style="width: 250px;" fxLayoutAlign="center center" appearance="outline">
       <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Date">
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
</div> 

<!-- / BOARD -->

<!-- BOARD 2-->
<div class="board-list-item" 
fxLayout="column" fxLayoutAlign="center center"
[@animate]="{value:'*',params:{y:'50%'}}">
<div class="mat-title">Région </div>

<mat-form-field style="width: 250px;" appearance="outline">
      
       <mat-select formControlName="city" placeholder="ville">
           <mat-option value="Tunis">
                   Tunis
               </mat-option>
               <mat-option value="Benarous">
                   Ben arous
               </mat-option>
               <mat-option value="Ariana">
                   Ariana
               </mat-option>
               <mat-option value="Nabel">
                   Nabel
               </mat-option>
               <mat-option value="Bizerte">
                   Bizerte
               </mat-option>
               <mat-option value="Beja">
                   Beja
               </mat-option>
               <mat-option value="Jandouba">
                   Jandouba
               </mat-option>
               <mat-option value="Siliana">
                   Siliana
               </mat-option>
               <mat-option value="Le Kef">
                   Le Kef
               </mat-option>
               <mat-option value="Zaghouan">
                   Zaghouan
               </mat-option>
               <mat-option value="Sousse">
                   Sousse
               </mat-option>
               <mat-option value="Mounastir">
                   Mounastir
               </mat-option>
             <mat-option value="Mehdiya">
                 Mehdiya
           </mat-option>
           <mat-option value="Sfax">
                 Sfax
             </mat-option>
             <mat-option value="Sidibouzid">
                 Sidi bouzid
         </mat-option>
         <mat-option value="Kasserine">
               Kasserine
           </mat-option>
         <mat-option value="Gafsa">
               Gafsa
           </mat-option>
           <mat-option value="'Gabes'">
               Gabes
           </mat-option>
           <mat-option value="Mednin">
               Mednin
           </mat-option>
           <mat-option value="Touzeur">
               Touzeur
           </mat-option>
         <mat-option value="Kebeli">
             Kebeli
         </mat-option>
         <mat-option value="Tataouine">
             Tataouine
         </mat-option>
     </mat-select>
 </mat-form-field>
</div> 
<!-- / BOARD -->
<!-- BOARD 3-->
<div class="board-list-item" 
fxLayout="column" fxLayoutAlign="center center"
[@animate]="{value:'*',params:{y:'50%'}}">
<div class="mat-title">Type !</div>
<mat-form-field style="width: 250px;" appearance="outline" >
<mat-label>Type de Terrain</mat-label>
<mat-select formControlName="categorie">
   <mat-option [value]="'Foot-ball'">
           Foot-ball
       </mat-option>
       <mat-option [value]="'Hand-ball'">
           Hand-ball
       </mat-option>
       <mat-option [value]="'Tennis'">
           Tennis
       </mat-option>
       <mat-option [value]="'Basket-ball'">
           Basket-ball
       </mat-option>
       <mat-option [value]="'Volly-ball'">
           Volly-ball
       </mat-option>
       <mat-option [value]="'Course'">
           Course
       </mat-option>
       <mat-option [value]="'Golf'">
           Golf
       </mat-option>
       <mat-option [value]="'Badminton'">
           Badminton
       </mat-option>
       <mat-option [value]="'Rugby'">
           Rugby
       </mat-option>
</mat-select>
</mat-form-field>

</div> 
<!-- / BOARD -->
<button mat-fab style="background-color: #008B8B " (click)="cherche()">
<mat-icon >arrow_forward_ios</mat-icon>
</button>
</div>
<!-- /recherche -->


            </div>
            <!-- / PREVIEW -->
            <div style="    margin-right: -27%;
            "  *ngIf="showmap == false" >
            <app-recherche-map  ></app-recherche-map>
        </div>
 
    </div> 