@import "src/@fuse/scss/fuse";

#app-equipes {
    width: 100%;

    > .center {

        > .header {
            .search-wrapper {
                width: 100%;
                max-width: 480px;
                border-radius: 28px;
                border-color: #CAC4C4;

                overflow: hidden;
                background-color: white;
                @include mat-elevation(1);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .search {
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 18px;

                    input {
                        width: 100%;
                        height: 48px;
                        min-height: 48px;
                        max-height: 48px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }
.logo-text{
    color:white
}
            @include media-breakpoint('lt-md') {
                padding: 8px 0;
                height: 192px !important;
                min-height: 192px !important;
                max-height: 192px !important;
            }
        }
    }
}

#list{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    border-right: 1px solid;
    border-color: #CAC4C4;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .no-messages-text {
        font-size: 24px;
        font-weight: 300;
    }

    .mail-list {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
      
    }
   
}
#equipe{
    flex-shrink: 0;
    position: relative;
    padding: 16px 24px;
    border-bottom: 1px solid;
    border-color: #CAC4C4;
    cursor: pointer;

    &.unread {

        .info {

            .name {
                font-weight: 700;
            }

            .row-2 {

                .subject {
                    font-weight: 700;
                }
            }
        }
    }

    .info {
        overflow: hidden;
        width: 0;
        margin-left: 16px;
        position: relative;

        .row-1 {
            margin-bottom: 8px;

            .name {
                font-size: 15px;
                font-weight: 600;

                .avatar {
                    min-width: 32px;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                }
            }

            .actions {
                margin-left: 4px;

                .mat-icon-button {
                    width: 32px;
                    height: 32px;
                    line-height: 1;
                }
            }
        }

        .row-2 {

            .subject,
            .message {
                width: 100%;
            }

            .message {
                position: relative;
            }

            .labels {
                margin-top: 8px;

                .label {
                    font-size: 11px;
                    border-radius: 4px;
                    border-color: #CAC4C4;

                    margin: 0 4px 0 0;
                    padding: 3px 8px;

                    .label-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                        border-color: #CAC4C4;

                    }
                }
            }
        }
    }
}
#detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .select-message-text {
        font-size: 24px;
        font-weight: 300;
    }

    .mail-header {
        padding-bottom: 16px;
        border-bottom: 1px solid;
        border-color: #CAC4C4;

        .actions {
            min-width: 88px;
        }

        .subject {
            font-size: 17px;
            font-weight: 600;
        }

        .label {
            font-size: 11px;
            border-radius: 2px;
            border-color: #CAC4C4;

            margin: 4px 4px 4px 0;
            padding: 3px 8px;

            .label-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
                border-color: #CAC4C4;

            }
        }
    }

    .mail-content {
        padding: 24px 0;

        .to {

            .to-text {
                margin-right: 4px;
                text-transform: lowercase;
            }
        }

        .info {
            padding-bottom: 16px;

            .avatar {
                margin-right: 16px;
            }

            .name {
                margin-right: 8px;
                font-weight: 600;
            }

            .toggle-details {
                user-select: none;
                text-decoration: underline;
                padding-top: 16px;
                cursor: pointer;
                font-weight: 600;
            }

            .details {
                padding-top: 8px;

                .title {
                    font-weight: 600;
                    margin-right: 6px;
                }
            }

        }
    }

    .mail-attachments {
        padding: 24px 0;
        border-top: 1px solid;
        border-color: #CAC4C4;

        .title {
            margin-bottom: 16px;
            font-weight: 600;
        }

        .attachment {

            .preview {
                width: 100px;
                margin: 0 16px 8px 0;
                border-radius: 4px;
                border-color: #CAC4C4;

            }

            .link {
                margin-bottom: 2px;
            }

            .size {
                font-size: 11px;
            }
        }
    }
}