<div id="app-equipes" class="page-layout carded left-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg " style="background-color: #008B8B "></div>
    <!-- / TOP BACKGROUND -->


    <!-- CENTER -->
    <div class="center">
       <div class="header" 
       style="background-color: #008B8B" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
       fxLayoutAlign.gt-sm="space-between center">
<!-- APP TITLE -->
<div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
    
    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
      Les équipes
    </span>
  </div>
  <!-- / APP TITLE -->
      

       <!-- SEARCH -->
       <div class="search-wrapper mx-32 mx-md-0" fxLayout="row" fxLayoutAlign="center center" fxFlex>
           <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
               <mat-icon>search</mat-icon>
               <input [(ngModel)]="searchKey"  placeholder="Recherche avec city"
                autocomplete="off"  [(ngModel)]="searchTerm"
                (input)="filterCoursesByTerm()">
               <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
                 <mat-icon>close</mat-icon>
               </button>
           </div>            
        
       </div>
       <!-- / SEARCH -->
        <!-- APP TITLE -->
       <div class="logo mb-24 mb-md-0">
          
            
            <button mat-raised-button (click)="onCreate()" >

                    <span>Creez Equipe</span>
                </button>
       </div>
       <!-- / APP TITLE -->

   </div>


        <!-- CONTENT CARD -->
        <div class="content-card" >

            
         <div fxLayout="row">
            <!-- CONTENT -->
            <div id="list" fxFlex="40">
               <!-- liste equipe  -->
               <div *ngIf="terrainfilter2.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                    <span class="no-messages-text hint-text">NO EQUIPE</span>
               </div>
                 
                <div class="mail-list">
                    <div fxLayout="row" id="equipe" fxLayoutAlign="start center" *ngFor="let equipe of terrainfilter2">
                            <span *ngIf="equipe.capitainename===userco">
                                    <div fxLayout="column" fxLayoutGap="5px">
                                            <button mat-icon-button (click)="onEdit(equipe);" ><mat-icon>create</mat-icon></button>
                                            <button mat-icon-button color="warn" (click)="onDelete(equipe.$key); "><mat-icon>delete_outline</mat-icon></button>
                                   </div>
                            </span>
                            <div class="info" fxFlex FlexLayout="column"
                             [routerLink]="['/equipe', equipe.$key]" >
                        
                                <div class="row-1" fxLayout="row" fxLayoutAlign="start center">
                        
                                    <div class="name" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                                        <img class="avatar"   src="{{equipe.capitainetof}}"/>
                                        <span class="text-truncate" >  {{equipe.capitainename}}</span>
                                    </div> 
                        
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <div class="time">{{equipe.time}}</div>
                                    </div>
                        
                                </div>
                        
                                <div class="row-2" fxLayout="row" fxLayoutAlign="start center">
                        
                                    <div fxLayout="column" fxLayoutAlign="start start">
                        
                                        <div class="subject text-truncate">
                                           Le :  {{equipe.Datedeb}}
                                        </div>
                        
                
                        
                                        <div class="labels" fxLayout="row wrap" fxHide fxShow.gt-sm>
                                           City : {{equipe.city}}
                                        </div>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>
                
               <!-- /liste equipe -->
             
              

            </div>
            <!-- / CONTENT -->
            <div *ngIf="router.url === '/equipe'" class="content" fxFlex="70" >
                 
                <div  fxLayout="column" fxLayoutAlign="center center" fxFlex>
                    <img class="s-128 mb-16 select-message-icon hint-text"
                    [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}"
                    src="https://img.icons8.com/ios/58/000000/conference-call.png">
                
                    <span class="select-message-text hint-text" [@animate]="{value:'*',params:{delay:'400ms'}}">
                        <span>Selection une equipe</span>
                    </span>
                </div>
            </div>
            <div *ngIf="router.url !== '/equipe'" class="content" fxFlex="70" >
                <router-outlet></router-outlet> 
            </div>
        </div>
    </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
