<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class=" m-0" style="background-color: #008B8B ">
        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
          
            <div class="title2 mt-8">Gérér une réservation</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="service.form" class="normal-form">
            <mat-grid-list cols="1" rowHeight="320px">
              <mat-grid-tile>
                <div class="controles-container">
                  <input type="hidden" formControlName="$key">
            
                      <mat-form-field appearance="outline">
                        <mat-label>Date</mat-label>
                      <input formControlName="Datedeb" min="{{today | date:'yyyy-MM-dd'}}" matInput [matDatepicker]="picker" placeholder="Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
                     
                     <mat-form-field appearance="outline">
                        <mat-label>Heure</mat-label>
                        <input matInput type="time" formControlName="time">
                    </mat-form-field> 

           <div class="button-row" fxLayout="row" fxLayoutAlign="end end">
                    <button mat-raised-button 
                    type="submit"
                    class="save-button"
                    style="background-color: #008B8B "
                    (click)="onSubmit()"
                    [disabled]="service.form.invalid">
                Enregistrer
            </button>
                   
                   
            <button mat-raised-button color="warn"  (click)="onClear()">Annuler</button>
            </div>

                </div>
               </mat-grid-tile>
           
            </mat-grid-list>
          
            
          </form>

    </div>

</div>
