<div id="forgot-password" fxLayout="column">

  <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div class="logo">
          <img src="assets/images/logos/ball-logo-png.png">
      </div>

          <div class="title">RECOUVREZ VOTRE MOT DE PASSE</div>

          <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

              <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" #passwordResetEmail >
                  <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                  <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                    Email est requis
                  </mat-error>
                  <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                    S'il vous plaît, mettez une adresse email valide
                  </mat-error>
              </mat-form-field>

              <button mat-raised-button class="submit-button" color="accent"
                      aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid" 
                      (click)="auth.ForgotPassword(passwordResetEmail.value)">
                      ENVOYER UN LIEN RESET
              </button>
          </form>

          <div class="login" fxLayout="row" fxLayoutAlign="center center">
              <a class="link" [routerLink]="'/login'">Retourner to login</a>
          </div>

      </div>

  </div>

</div>
