<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg " style="background-color: #008B8B " ></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header" style="background-color: #008B8B " fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                     {{terrains.name}} Terrain de {{terrains.typeterrain}}
                   </span>   
                </div>
            </div>
           
            <!-- / APP TITLE -->

            <button mat-raised-button (click)="onCreate()"  >

        <span>Reserver maintenant</span>
    </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">



                            <div class="tab-content p-24" fusePerfectScrollbar fxLayoutGap="30px" >
                                    <div fxLayout="column"  fxFlex="45" fxLayoutGap="20px"  >
                                            
                                                    <agm-map class="w-100-p h-400" [zoom]="10"
                                                             [latitude]="lat"
                                                             [longitude]="lng">
                                                        <agm-marker [latitude]="lat"
                                                                    [longitude]="lng">
                                                        </agm-marker>
                                                    </agm-map>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Description</mat-label>
                                            <textarea matInput placeholder=" description"
                                                      rows="5" value="{{terrains.description}}" disabled>
                                            </textarea>
                                        </mat-form-field>
                                     </div>
                                    <div fxLayout="column"  fxFlex="50">
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Nom de terrain</mat-label>
                                            <input matInput placeholder="Name"
                                                   value="{{terrains.name}}"
                                                   disabled>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        
                                            <mat-label>Region</mat-label>
                                            <input matInput placeholder="Region"
                                            disabled
                                            value="{{terrains.city}}">
        
                                        </mat-form-field>
        
        
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        
                                            <mat-label>prixPersone</mat-label>
                                            <input matInput placeholder="prixPersone"
                                            disabled
                                            value="{{terrains.prixPersone}}">
        
                                        </mat-form-field> 
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Contact</mat-label>
                                            <input matInput placeholder="contact"
                                                   value="{{terrains.contact}}"
                                                   disabled>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        
                                            <mat-label>Nombre de joueur par équipe</mat-label>
                                            <input matInput placeholder="Nombre de joueur par équipe"
                                            disabled
                                            value="{{terrains.nombredejoueur}}">
        
                                        </mat-form-field>
                                     </div>
                            </div>


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
