<div id="reset-password" fxLayout="column">

  <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div class="logo">
          <img src="assets/images/logos/ball-logo-png.png">
      </div>

          <div class="title">RÉINITIALISEZ VOTRE MOT DE PASSE</div>

          <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

              <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email">
                  <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                  <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                    Email est requis
                  </mat-error>
                  <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                    S'il vous plaît, mettez une adresse email valide
                  </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Mot de passe</mat-label>
                  <input matInput type="password" formControlName="password">
                  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <mat-error>
                    Mot de passe requis
                  </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Password (Confirm)</mat-label>
                  <input matInput type="password" formControlName="passwordConfirm">
                  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                    La confirmation du mot de passe est requise
                  </mat-error>
                  <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                     resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                    les mots de passe doivent correspondre
                  </mat-error>
              </mat-form-field>

              <button mat-raised-button class="submit-button" color="accent"
                      aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                      RÉINITIALISER MON MOT DE PASSE
              </button>
          </form>

          <div class="login" fxLayout="row" fxLayoutAlign="center center">
              <a class="link" [routerLink]="'/pages/auth/login'">Retourner à la connexion</a>
          </div>

      </div>

  </div>

</div>
