<div fxLayout="column" fxLayoutGap="10px" >
<div class="search-wrapper mx-32 mx-md-0" fxLayoutGap="10px" fxLayoutAlign="space-between">
    <div class="search" fxFlex  fxFlex="0 1 auto" fxLayoutAlign="center center">
        <mat-icon>search</mat-icon>
        <input matInput placeholder="recherche" autocorrect="off" autocapitalize="off" 
        spellcheck="off" type="text" class="form-control" name="address"
        #search [formControl]="searchControl"  >
        <button mat-button matSuffix mat-icon-button>

        </button>
    </div>            
 
</div> 
<div  fxLayout="column" fxLayoutGap="10px" class="map">
<agm-map [latitude]="latitude"  [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
  <agm-marker *ngFor="let terrain of terrainDataService.array" [latitude]="terrain.latitude" [longitude]="terrain.longitude"
  [iconUrl]="'/assets/images/logos/terrain.png'"> 
  <agm-info-window>
      <h3 fxLayoutAlign="center center"><strong>{{terrain.name}}</strong></h3>
      <button mat-button style="color:#008B8B	"
      [routerLink]="['/foot',terrain.$key]">
  plus de detail
  </button>
 </agm-info-window>
</agm-marker>

</agm-map>
</div>
</div>