agm-map{
    height: 400px ;
    
}
@import "src/@fuse/scss/fuse";
.map{
    margin-left: -40%;
}
.search-wrapper {
    width: 400px;
    margin-left: 500px!important;

        border-radius: 28px;
    overflow: hidden;
    background-color: white;
    @include mat-elevation(1);

    @include media-breakpoint('xs') {
        width: 100%;
    }

    .search {
        width: 100%;
        height: 48px;
        line-height: 48px;
        padding: 0 18px;

        input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 16px;
            border: none;
            outline: none;
        }
    }
}
