<div id="register"  class="inner-scroll" fxLayout="row" fxLayoutAlign="start">


        <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

    
            <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                Faciliter la gestion de votre club sportif
            </div>

            <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
               <button class="btn" mat-raised-button  routerLink='/'> Savoir plus </button>
            </div>
    
        </div>


        <div id="register-form-wrapper" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

       <div id="register-form">

            <div class="logo" >
                <img src="assets/images/logos/ball-logo-png.png">
            </div>

            <div class="title">CRÉER UN COMPTE</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="name" #userName >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Le nom est requis
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email"  #userEmail >
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email est requis
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        S'il vous plaît, mettez une adresse email valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Mot de passe requis
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe (Confirmation)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm" #userPwd  >
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        La confirmation du mot de passe est requise
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                                       les mots de passe doivent correspondre
                    </mat-error>
                </mat-form-field>
<!-- 
                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="I read and accept" required>
                        <span>Je lis et j'accepte</span>
                    </mat-checkbox>
                    <a >Termes et conditions</a>
                </div>
-->
                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid" (click)="authService.SignUp(userEmail.value, userPwd.value,userName.value)" >
                        CRÉER UN COMPTE
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Vous avez déjà un compte?</span>
                <a class="link" [routerLink]="'/login'">S'identifier</a>
            </div>

        </div>


</div>
