<div class="page-layout simple fullwidth">
 
        <div style="background-color: #008B8B " class="header p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">
        
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                            Terrains
              </span>     
        
            </div>
<div fxLayout="row" fxFlex="100" class="margin">
    <div fxLayout="column" fxFlex="45" fxLayoutGap="10px">
<div fxLayout="column" fxFlex="45">
    <div class="fuse-card">

        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
    
            <div class="pr-16">
                <div class="h1">Foot-ball</div>
                <div class="h4 secondary-text">{{foot}} Terrain</div>
            </div>
    
            <div class="w-120 h-120">
                <img src="assets/images/cards/football.png">
            </div>
    
        </div>
    
        <div class="p-8 pt-0 " fxLayout="row" fxLayoutAlign="start center">
            <button mat-button  style="color:#008B8B" routerLink="/foot">VOIR</button>
        </div>
    
    </div>
</div>
<div fxLayout="column" fxFlex="45">
    <div class="fuse-card">

        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
    
            <div class="pr-16">
                <div class="h1">Basket-ball</div>
                <div class="h4 secondary-text">{{basket}} Terrain</div>
            </div>
    
            <div class="w-120 h-120">
                <img src="assets/images/cards/basketball.png">
            </div>
    
        </div>
    
        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
            <button mat-button  style="color:#008B8B" routerLink="/basket">VOIR</button>
        </div>
    
    </div>
</div>
<div fxLayout="column" fxFlex="45">
    <div class="fuse-card">

        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
    
            <div class="pr-16">
                <div class="h1">Golf</div>
                <div class="h4 secondary-text">1 joueur</div>
            </div>
    
            <div class="w-120 h-120">
                <img src="assets/images/cards/golf.png">
            </div>
    
        </div>
    
        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
            <button mat-button  style="color:#008B8B" routerLink="/basket">VOIR</button>
        </div>
    
    </div>
</div>
</div>

   <div fxLayout="column" fxFlex="45" fxLayoutGap="10px">
           <div fxLayout="column" fxFlex="45" >
              <div class="fuse-card">

                  <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
              
                      <div class="pr-16">
                          <div class="h1">Hand-ball</div>
                          <div class="h4 secondary-text">{{hand}} Terrain</div>
                      </div>
              
                      <div class="w-120 h-120">
                          <img src="assets/images/cards/hanball.png">
                      </div>
              
                  </div>
              
                  <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                      <button mat-button  style="color:#008B8B"  routerLink="/hand">VOIR</button>
                  </div>
              
              </div>
           </div>
           <div fxLayout="column" fxFlex="45" >
              <div class="fuse-card">

                  <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
              
                      <div class="pr-16">
                          <div class="h1">Volly-ball</div>
                          <div class="h4 secondary-text"> {{volly}} Terrain</div>
                      </div>
              
                      <div class="w-120 h-120">
                          <img src="assets/images/cards/vollyball.png">
                      </div>
              
                  </div>
              
                  <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                      <button mat-button  style="color:#008B8B" routerLink="/volley">VOIR</button>
                  </div>
              
              </div>
           </div>
           <div fxLayout="column" fxFlex="45">
            <div class="fuse-card">
        
                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
            
                    <div class="pr-16">
                        <div class="h1">Badminton</div>
                        <div class="h4 secondary-text">{{badm}} Terrain</div>
                    </div>
            
                    <div class="w-120 h-120">
                        <img src="assets/images/cards/badminton.png">
                    </div>
            
                </div>
            
                <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button  style="color:#008B8B" routerLink="/basket">VOIR</button>
                </div>
            
            </div>
        </div>
        </div>

    <div fxLayout="column" fxFlex="45" fxLayoutGap="10px">
                       <div fxLayout="column" fxFlex="45">
                          <div class="fuse-card">

                              <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
                          
                                  <div class="pr-16">
                                      <div class="h1">Tennis</div>
                                      <div class="h4 secondary-text">{{tenis}} Terrain</div>
                                  </div>
                          
                                  <div class="w-120 h-120">
                                      <img src="assets/images/cards/tennis.png">
                                  </div>
                          
                              </div>
                          
                              <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                  <button mat-button  style="color:#008B8B" routerLink="/tennis">VOIR</button>
                              </div>
                          
                          </div>
                       </div>
                       <div fxLayout="column" fxFlex="45">
                          <div class="fuse-card">

                              <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
                          
                                  <div class="pr-16">
                                      <div class="h1">Course</div>
                                      <div class="h4 secondary-text">{{course}} Terrain</div>
                                  </div>
                          
                                  <div class="w-120 h-120">
                                      <img src="assets/images/cards/course.png">
                                  </div>
                                  
                              </div>
                          
                              <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                  <button mat-button  style="color:#008B8B" routerLink="/course">VOIR</button>
                              </div>
                          
                          </div>
                       </div>
                       <div fxLayout="column" fxFlex="45">
                        <div class="fuse-card">
                    
                            <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
                        
                                <div class="pr-16">
                                    <div class="h1">Rugby</div>
                                    <div class="h4 secondary-text">{{rug}} Terrain</div>
                                </div>
                        
                                <div class="w-120 h-120">
                                    <img src="assets/images/cards/rugby.png">
                                </div>
                        
                            </div>
                        
                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                <button mat-button style="color:#008B8B" routerLink="/basket">VOIR</button>
                            </div>
                        
                        </div>
                    </div>
                      
        </div>
</div>
</div>



