<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
            <div class="logo"  [routerLink]="'/dashbord'">
                <img width="800"   height="55" src="assets/images/logos/ball-logo-png.png">
            </div>
            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-button
                [routerLink]="'/equipe'"
                class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar2 mr-0 mr-sm-16" src="/assets/images/logos/equipe.png">
                <span class="username mr-12" fxHide fxShow.gt-sm>Trouver un adversaire</span>
                
                </div>
                </button>
                <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

                <span *ngIf="type==true">
                <button mat-button [routerLink]="'/user'" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="username mr-12" fxHide fxShow.gt-sm>User</span>
                
                </div>
                </button>
               </span>

        </div>
        
       

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
              
                <div *ngIf="auth.user$ | async; then authenticated else guest">
                </div >

           <ng-template #authenticated>
          <span *ngIf="auth.user$ | async as user">

            <button mat-button [matMenuTriggerFor]="userMenu"
                    class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar mr-0 mr-sm-16" [src]="tof">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{ user.displayName }}</span>
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>
            

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item [routerLink]="'/profil'" > 
                    <mat-icon>account_circle</mat-icon>
                    <span>My Profile</span>
                </button>


                <button mat-menu-item class="" (click)="auth.signOut()" >
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>
           
        </span>
            <div class="toolbar-separator"></div> 
      
         </ng-template>

            <div class="toolbar-separator"></div> 

           
        <ng-template #guest>
            
            <button mat-button  
             class="user-button" [routerLink]="'/login'">
          
           <span fxLayout="row" fxLayoutAlign="start center">
          <img class="flag mr-16" src="https://img.icons8.com/windows/24/000000/gender-neutral-user.png">
                       
                    <span class="username mr-12" fxHide fxShow.gt-sm>
                        Se connecter</span>
                    </span>
                    </button> 
       
            

            
            <div class="toolbar-separator"></div>
            


                </ng-template>
            

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>


            
            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-button 
            [routerLink]="'/listeterrain'"
            class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="avatar2 mr-0 mr-sm-16" src="/assets/images/logos/notif.png">
            <span class="username mr-12" fxHide fxShow.gt-sm>Les Terrains</span>
        </div>
    </button>
    <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

    <button mat-button
    [routerLink]="'/listematch'"
    class="user-button">
<div fxLayout="row" fxLayoutAlign="center center">
    <img class="avatar2 mr-0 mr-sm-16" src="/assets/images/logos/reser.png">
    <div class="unread-count" >{{int}}</div>
    <span class="username mr-12" fxHide fxShow.gt-sm>Reservation</span>
</div>
</button>


    <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <div class="toolbar-separator" fxHide.gt-md></div>

            <button mat-icon-button
                    (click)="toggleSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel"
                    style="width: 80px;">
                <mat-icon style="width: 50px; height: 50px;" class="secondary-text">
                    <img src="assets/images/logos/chatbot.png"></mat-icon>
            </button>
            <div class="toolbar-separator" fxHide.gt-md></div>

           

        </div>
    </div> 
   

</mat-toolbar>
