
    
<div id="detailequipe" >
        <div class="mail-header" fxLayout="row" fxLayoutAlign="space-between center">

                <div>
                    <div class="subject">à : {{equipe.city}}</div>
        
                    <div class="subject">Nombre de joueur  : {{equipe.nombre}}</div>
                </div>
                
            </div>
                <div class="mail-content">
    
                    <div class="info" fxLayout="row" fxLayoutAlign="space-between start">
            
                        <div fxFlex fxLayout="column" fxLayoutAlign="start start">
            
                            <div fxLayout="row" fxLayoutAlign="start start">
            
                                <div>
                                    <img 
                                         src="{{equipe.capitainetof}}" class="avatar"/>
            
                                    
                                </div>
            
                                <div fxLayout="column" fxLayoutAlign="start start">
            
                                    <div class="name">
                                        {{equipe.capitainename}}
                                    </div>
                                </div>
                            </div>
            
                            <a class="toggle-details" (click)="showDetails = !showDetails">
                                <span *ngIf="!showDetails">Show Details</span>
                                <span *ngIf="showDetails">Hide Details</span>
                            </a>
            
                            <div *ngIf="showDetails" class="details" fxLayout="row" fxLayoutAlign="start start">
            
                                <div fxLayout="column">
                                    <span class="title">Capitaine:</span>
                                    <span class="title">Date:</span>
                                    <span class="title">Heure:</span>
                                </div>
            
                                <div fxLayout="column">
                                    <span class="detail">{{equipe.capitainename}}</span>
                                    <span class="detail">{{equipe.Datedeb}}</span>
                                    <span class="detail">{{equipe.time}}</span>
                                </div>
                            </div>
                        </div>
            
                       
            
                    </div>
            
                    <div [innerHTML]="equipe.description"></div>
            
                </div>
            
               
            </div>
            
 
