<div class="header mat-elevation-z4 "style="background-color: #008B8B " fxLayout="row" fxLayoutAlign="space-between center">

    <ng-container>

        <div class="title ml-16" fxLayout="row" fxLayoutAlign="start center"
             (click)="unfoldSidebarTemporarily()">
            <mat-icon class="s-32 fuse-white-fg">chat</mat-icon>
            <h3 class="ml-12">Chatbot</h3>
        </div>

    </ng-container>


    

</div>

<div class="content">
  <!-- Chat -->
    <div id="chat" fxLayout="column" fxFlex="1 1 auto">

    

            <div id="messages" class="messages" fxFlex="1 1 auto" fusePerfectScrollbar>

           
                <ng-container *ngFor="let message of messages | async">

                    <div class="message " [ngClass]="{ 'from': message.sentBy === 'bot',
                                                      'to':   message.sentBy === 'user' }">
                      {{ message.content }}
                    </div>
                  
                  </ng-container>
        </div>

        <div class="reply-form" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center" >

            <form #replyForm="ngForm"
            (ngSubmit)="reply($event)"
            (keydown.enter)="reply($event)"
            fxFlex fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                    <textarea matInput #replyInput  [(ngModel)]="formValue" name="message" placeholder="Questions !"
                              [rows]="1"  [matTextareaAutosize]="true"
                              (keyup.enter)="sendMessage()"></textarea>
                </mat-form-field>
             

                <button class="send-message-button" (click)="sendMessage()" mat-icon-button type="submit" aria-label="Send message">
                </button>
</form>

        </div>

    </div>
    <!-- / Chat -->

</div>