@import url('https://fonts.googleapis.com/css?family=Roboto:300');
#acceuil{
  #boards{
  margin: 0;
  background-color: #000;
  font-family:'Open Sans';

h1 { margin:150px auto 30px auto; text-align:center; color:#fff}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {

.container { width: 95%; }
}

/* -----Slider----- */

.slide-window {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slide-window .slide-wrapper {
  position: relative;
  left: 0;
  display: flex;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.slide-window .slide-wrapper .slide {
  position: relative;
  width: 34%;
}

.slide-window .slide-wrapper .slide:before {
  content: "";
  display: block;
  padding-top: 41.17%;
}

.slide-window .slide-wrapper .slide .slide-image {
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slide-window .slide-wrapper .slide .slide-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
}

.slide-window .slide-wrapper .slide .slide-caption h2 {
  margin: 29rem 55.5rem;
  font-size: 356%;
}
.slide-window .slide-wrapper .slide .slide-caption button {
  margin: 18rem 59.5rem;
}

.slide-window .slide-wrapper .slide .slide-caption p {
  margin: -26rem 32.5rem -8rem;
    font-size: 175%;
  font-style: italic;
  font-family: monospace;
    
}
@media screen and (max-width: 767px) {

.slide-window .slide-wrapper .slide .slide-caption h2 {
  margin: 0 3rem 1.5rem;
  font-size: 1.2rem;
}

.slide-window .slide-wrapper .slide .slide-caption p { margin: -1rem 3rem 1.75rem;  font-size: .8rem;
}
}

.slide-window:hover .slide-control-left {
  left: 1%;
  opacity: 1;
}

.slide-window:hover .slide-control-right {
  right: 1%;
  opacity: 1;
}

.slide-control-left {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 10%;
  right: auto;
}

.slide-control-left .slide-control-line {
  position: absolute;
  top: 50%;
  width: 2px;
  height: 14px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  left: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slide-control-left .slide-control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-135deg);
  transform: translateY(1px) rotate(-135deg);
}

.slide-control-left .slide-control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.slide-control-left:hover { background-color: #fff; }

.slide-control-left:hover .slide-control-line:after { background-color: #aaa; }

.slide-control-left .rotate-left-top:after { animation: arrowLineRotation 0.49s; }

.slide-control-left .rotate-left-down:after { animation: arrowLineRotationRev 0.49s; }
@media screen and (max-width: 767px) {

.slide-control-left {
  height: 30px;
  width: 30px;
  opacity: 1;
}

.slide-control-left .slide-control-line {
  left: 9px;
  height: 10px;
}
}
@media screen and (max-width: 1023px) {

.slide-control-left {
  opacity: 1;
  left: 1%;
}
}

.slide-control-right {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  right: 10%;
  left: auto;
}

.slide-control-right .slide-control-line {
  position: absolute;
  top: 50%;
  width: 2px;
  height: 14px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  right: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slide-control-right .slide-control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(135deg);
  transform: translateY(1px) rotate(135deg);
}

.slide-control-right .slide-control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.slide-control-right:hover { background-color: #fff; }

.slide-control-right:hover .slide-control-line:after { background-color: #aaa; }

.slide-control-right .rotate-right-down:after { animation: arrowLineRotation 0.49s; }

.slide-control-right .rotate-right-top:after { animation: arrowLineRotationRev 0.49s; }
@media screen and (max-width: 767px) {

.slide-control-right {
  height: 30px;
  width: 30px;
  opacity: 1;
}

.slide-control-right .slide-control-line {
  right: 9px;
  height: 10px;
}
}
@media screen and (max-width: 1023px) {

.slide-control-right {
  opacity: 1;
  right: 1%;
}
}
 @keyframes 
arrowLineRotation {  to {
 transform: rotate(180deg);
}
}
@keyframes 
arrowLineRotationRev {  to {
 transform: rotate(-180deg);
}
}

.slide-control-btn ul {
  position: absolute;
  padding: 0;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slide-control-btn ul li {
  margin: 0 5px;
  list-style: none;
}

.slide-control-btn ul li a {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slide-control-btn ul li a.active, .slide-control-btn ul li a:hover { background-color: #fff; }
@media screen and (max-width: 767px) {

.slide-control-btn ul {  margin: .5rem 0;
}

.slide-control-btn ul li a {
  width: 10px;
  height: 10px;
}
}

/*# sourceMappingURL=style.css.map */

  }

.p{
  color: #008B8B;
  background-size: 80%;
  text-align: center;
  font-style: italic;
  font-size: 32px;
  
    }
#boardtow {
  width: 100%;
  margin-top: 74px;
 
  .img{
    max-width: 117px;
    height: 105px;
    margin-left: 130px;
    .p{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 20px;
    }
  }
}
#boardthre{
  @import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');
  margin-top: 124px;
  
  .container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 100vh;
    min-height: 35rem;
    background: linear-gradient(0.25turn, #C0C0C0,#008B8B,#C0C0C0);
        background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 2rem;
   h1{
    font-size: 33px; 
    color: white;
   }
    h3{
      text-align: center;
      font-family: cursive;
    }
.img1{
  margin-left: -14%;
  .text{
        font-family: cursive;
        text-align: center;
        color: white;
        font-size: 23px; 
        font-weight :300px;
    }
}
.img2{
  margin-left: 22%;
  .text{
        font-family: cursive;
        text-align: center;
        color: white;
        font-size: 23px;
        font-weight :300px;
    }
}
  }

  
 
}
#boardfor{
  @import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');
    z-index: 1;
    position: relative;
    overflow: hidden;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    background-color: black;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 2rem;
  
  .text{
    color: white;
    text-align: start;
    font-size: 11px;
  }
.text2{
  padding-left: 73%;
  color: white;
}
  
 
}

}
@import "src/@fuse/scss/fuse";

.theme-options-button {
  position: fixed;
  top: 160px;
  width: 58px;
  height: 132px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  pointer-events: auto;
  opacity: .90;
  z-index: 998;

  &.right-side-panel {

      @include media-breakpoint('gt-md') {
          right: 70px;
      }
  }

  &.side-panel-hidden {
      right: 0 !important;
  }

  mat-icon {
      animation: rotating 3s linear infinite;
  }
.img{
  max-width: 71%;
  margin-left: 6.5px;
}
  &:hover {
      opacity: 1;
								
  }
}