<div id="acceuil" fxLayout="column"   fxFlex.gt-xs="100" >
    <div id="boards" >
          <div class="container">
         
            <div class="slide-window">
              <div class="slide-wrapper" style="width: 300%;">
                <div class="slide-caption">
                </div>
                <div class="slide">
                  <a routerLink="/login">
                    <div class="slide-image" style="background-image: url('assets/images/backgrounds/tof1.jpg')">
                    </div>
                    <div class="slide-caption">
                      <h2>TACHKILA</h2>
                      <p>Simplifiez la gestion de votre terrain, le SPORT !
                        </p>
                        <button mat-raised-button routerLink="/login">S'incrire gratuitement</button>
                    </div>
                  </a>
                </div>
              </div>
             
            </div>
      
          </div>
      
          
      
    </div>
     
    <p class="p">Comment ça marche.    </p>
    
    <div id="boardtow"  fxLayout="row"   >
        <div class="img"><img  src="https://img.icons8.com/color/100/000000/search.png"> <p class="p">Rechercher un terrain</p></div>
          <div class="img"><img  src="assets/images/logos/ligne.png"></div> 
        <div  class="img" ><img src="https://img.icons8.com/color/100/000000/add-user-male.png"> <p class="p" >Crée un compte</p></div>
        <div class="img"><img  src="assets/images/logos/ligne.png"></div>
    
        <div class="img" ><img src="https://img.icons8.com/color/100/000000/online-payment-.png"> <p class="p" >Paiement en ligne</p></div>
      </div>
    <div id="boardthre">
     
        <div class="container"  fxLayout="column">
    
    <h1>Inscrivez-vous gratuitement pour profiter de notre offre </h1>
    <span  fxLayout="row">
    <div class="img1">
             
      
              <div class="h-200">
                  <ngx-charts-pie-chart
                      *fuseIfOnDom
                      [scheme]="colorScheme"
                      [results]="single"
                      [doughnut]="true">
                  </ngx-charts-pie-chart>
              </div>
              <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                  <div class="px-16" fxLayout="column" fxLayoutAlign="start center">


                      <div class="text">
                          <div >Terrain Inscrits</div>          
                              <div>6,000</div>

                      </div>

                  </div>

              </div>
      </div>
      <div class="img2">
            <div class="h-200">
                <ngx-charts-pie-chart
                    *fuseIfOnDom
                    [scheme]="colorScheme"
                    [results]="single"
                    [doughnut]="true">
                </ngx-charts-pie-chart>
            </div>
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

            <div class="px-16" fxLayout="column" fxLayoutAlign="start center">


                <div class="text">
                    <div >Membres inscrits</div>          
                        <div>10,000</div>

                </div>

            </div>

        </div>
    </div>

    </span>
          </div>
          
      
    </div>
    <div id="boardfor"  fxLayout="row"   >
<div class="text">        ©2019 Tachkila | by COSAVOSTRA  </div>
<div class="text2">Instagram   <span> Facebook</span>     </div>

    </div> 
    
    <button mat-icon-button mat-raised class="mat-elevation-z2 theme-options-button">
      <div fxLayout="column">
          <img class="img" src="https://img.icons8.com/color/48/000000/facebook.png">  
          <img class="img" src="https://img.icons8.com/color/48/000000/instagram-new.png">
          <img class="img" src="https://img.icons8.com/color/48/000000/google-plus.png">
      </div>
    </button>
    