<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- HEADER -->
  <!-- TOP BACKGROUND -->
  <div class="top-bg " style="background-color: #008B8B"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header" style="background-color: #008B8B" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          account_box
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Users
        </span>
      </div>
      <!-- / APP TITLE -->
        <!-- SEARCH -->
      <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

        <div class="search-wrapper mt-16 mt-sm-0">

          <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>

            <input [(ngModel)]="searchKey" placeholder="Search for a user" autocomplete="off"
              (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </div>

        </div>

      </div>
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button mat-raised-button (click)="onCreate()" class="add-product-button fuse-white mt-24 mt-md-0">
        <span>ADD NEW USER</span>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <br>
    <div class="content-card">

      <mat-table [dataSource]="listData" class="products-table" [@animateStagger]="{value:'50'}" matSort>
        <ng-container matColumnDef="displayName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>displayName</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.displayName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="emailVerified">
          <mat-header-cell *matHeaderCellDef mat-sort-header>EmailVerified</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.emailVerified" class="active-icon green-600 s-16">check</mat-icon>
            <mat-icon *ngIf="!element.emailVerified" class="active-icon red-500 s-16">close</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(row.uid)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="product" matRipple *matRowDef="let row; columns: displayedColumns;"
          [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
        </mat-footer-row>
      </mat-table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>