<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="m-0" style="background: #008B8B">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">{{userService.form.controls['uid'].value?"Modify User":"New User"}}</span>
          <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>

      <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">

          <img src="assets/images/avatars/profile.jpg" class="avatar contact-avatar huge m-0" />
          <div class="contact-name mt-8" *ngIf="userService.form.controls['uid'].value">
              {{userService.form.controls['displayName'].value}}</div>
      </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

      <form [formGroup]="userService.form">
          <input type="hidden" formControlName="uid">

          <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                  <mat-label>FullName</mat-label>
                  <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                  <input name="name" formControlName="displayName" matInput required>
                  <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
          </div>





          <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Email</mat-label>
                  <mat-icon matSuffix class="secondary-text">email</mat-icon>
                  <input name="email" formControlName="email" matInput type="email" required>
                  <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
          </div>



       

          <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">



              <button *ngIf="userService.form.controls['uid'].value" mat-button class="mr-8"
                  (click)="onDelete(this.userService.form.controls['uid'].value)" aria-label="Delete"
                  matTooltip="Delete">
                  DELETE
              </button>
              <button *ngIf=" !(userService.form.controls['uid'].value)" mat-button class="save-button"
                  (click)="onSubmit()" [disabled]="userService.form.invalid" aria-label="SAVE">
                  ADD
              </button>

              <button *ngIf="userService.form.controls['uid'].value" mat-button class="save-button"
                  (click)="onUpdate()" [disabled]="userService.form.invalid" aria-label="SAVE">
                  SAVE
              </button>

          </div>
      </form>

  </div>


</div>