<div class="dialog-content-wrapper" >
        <mat-toolbar style="background-color: #008B8B " class=" m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title2 dialog-title"> Gérer Votre terrain</span>
                <button class="btn-dialog-close" mat-stroked-button 
                (click)="onClose()"> <mat-icon>close</mat-icon></button>
        </mat-toolbar-row> 
    </mat-toolbar>
<div mat-dialog-content class="p-16 pb-0 m-0 event-form w-100-p" fusePerfectScrollbar >
        <form [formGroup]="service.form" class="normal-form">
                <mat-grid-list cols="2" rowHeight="600px">
                  <mat-grid-tile>
                    <div class="controles-container">
                      <input type="hidden" formControlName="$key">
                      <mat-form-field appearance="outline">
                        <input formControlName="name"  matInput placeholder="name*">                       
                      </mat-form-field>
                      <mat-form-field appearance="outline" >
                          <mat-label>Région</mat-label>
                          <mat-select formControlName="city">
                              <mat-option [value]="'Tunis'">
                                      Tunis
                                  </mat-option>
                                  <mat-option [value]="'Benarous'">
                                      Ben arous
                                  </mat-option>
                                  <mat-option [value]="'Ariana'">
                                      Ariana
                                  </mat-option>
                                  <mat-option [value]="'Nabel'">
                                      Nabel
                                  </mat-option>
                                  <mat-option [value]="'Benzart'">
                                      Benzart
                                  </mat-option>
                                  <mat-option [value]="'Beja'">
                                      Beja
                                  </mat-option>
                                  <mat-option [value]="'Jandouba'">
                                      Jandouba
                                  </mat-option>
                                  <mat-option [value]="'Selyana'">
                                      Selyena
                                  </mat-option>
                                  <mat-option [value]="'Kef'">
                                      Kef
                                  </mat-option>
                                  <mat-option [value]="'Zagwen'">
                                      Zagwen
                                  </mat-option>
                                  <mat-option [value]="'Sousse'">
                                      Sousse
                                  </mat-option>
                                  <mat-option [value]="'Mounastir'">
                                      Mounastir
                                  </mat-option>
                                <mat-option [value]="'Mehdiya'">
                                    Mehdiya
                              </mat-option>
                              <mat-option [value]="'Sfax'">
                                    Sfax
                                </mat-option>
                                <mat-option [value]="'Sidibouzid'">
                                    Sidi bouzid
                            </mat-option>
                            <mat-option [value]="'Gasrine'">
                                  Gasrine
                              </mat-option>
                            <mat-option [value]="'Gafsa'">
                                  Gafsa
                              </mat-option>
                              <mat-option [value]="'Gabes'">
                                  Gabes
                              </mat-option>
                              <mat-option [value]="'Mednin'">
                                  Mednin
                              </mat-option>
                              <mat-option [value]="'Touzeur'">
                                  Touzeur
                              </mat-option>
                            <mat-option [value]="'Gbeli'">
                                Gbeli
                            </mat-option>
                            <mat-option [value]="'Tatawin'">
                                Tatawin
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                      <mat-form-field appearance="outline">
                        <input formControlName="contact" type="number" matInput placeholder="contact*">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                          <textarea matInput formControlName="description" placeholder="description*"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <textarea matInput formControlName="address" placeholder="address*"></textarea>
                          </mat-form-field>
                        <!--  <input class="file-input" type="file" (change)="startUpload($event.target.files)">  --> 
                    </div>

                  </mat-grid-tile> 
                  <mat-grid-tile>
                      <div class="controles-container">
                      <mat-form-field appearance="outline" >
                            <mat-label>Type de Terrain</mat-label>
                            <mat-select formControlName="typeterrain">
                                <mat-option [value]="'Foot-ball'">
                                        Foot-ball
                                    </mat-option>
                                    <mat-option [value]="'Hand-ball'">
                                        Hand-ball
                                    </mat-option>
                                    <mat-option [value]="'Tennis'">
                                        Tennis
                                    </mat-option>
                                    <mat-option [value]="'Basket-ball'">
                                        Basket-ball
                                    </mat-option>
                                    <mat-option [value]="'Volly-ball'">
                                        Volly-ball
                                    </mat-option>
                                    <mat-option [value]="'Course'">
                                        Course
                                    </mat-option>
                                    <mat-option [value]="'Golf'">
                                        Golf
                                    </mat-option>
                                    <mat-option [value]="'Badminton'">
                                        Badminton
                                    </mat-option>
                                    <mat-option [value]="'Rugby'">
                                        Rugby
                                    </mat-option>
                          </mat-select>
                          <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                      </mat-form-field>
                      
                        <mat-form-field appearance="outline">
                            <input formControlName="prixPersone" type="number" matInput placeholder="prix*">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                              <input formControlName="nombredejoueur" type="number" matInput placeholder="nombredejoueur*">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input formControlName="longitude" matInput placeholder="longitude*">
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                  <input formControlName="latitude" matInput placeholder="latitude*">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                        <input formControlName="durre" type="number" matInput placeholder="durre*">
                                      </mat-form-field>
                             
                                <div class="button-row" fxLayout="row" fxLayoutAlign="end end">
                                    <button mat-raised-button (click)="onSubmit()" style="background-color: #008B8B " type="submit" [disabled]="service.form.invalid" color="#008B8B"
                                    >Enregistrer</button>
                                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                                  </div>
                      </div>
                  </mat-grid-tile>
                  
             </mat-grid-list>
              
             
              </form>
</div>
</div>
