<div class="page-layout simple fullwidth ">
        <!-- header -->
    <div style="background-color: #008B8B " class="header p-24 h-160 " fxLayout="row" fxLayoutAlign="space-between center">
    
        <div class="h2 mt-16 logo-text">les Terrains de hand-ball</div>

    
    
        </div>
        <!-- /header -->
    <div class="content p-24">

     <div fxLayout="column" fxLayoutAlign="center">
         <!-- recherche et filtre -->
         <div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <mat-form-field appearance="outline" floatLabel="always" class="course-search">
            <mat-label>recherche avec nom</mat-label>
            <input matInput placeholder="recherche .."
                   [(ngModel)]="searchTerm"
                   (input)="filterCoursesByTerm()">
        </mat-form-field>

        <mat-form-field appearance="outline" class="category-selector">
            <mat-label>City</mat-label>
            <mat-select [(ngModel)]="currentterrain" (selectionChange)="filterCoursesByCategory()">
                <mat-option [value]="'all'">
                    All
                </mat-option>
                <mat-option [value]="'Tunis'">
                        Tunis
                    </mat-option>
                    <mat-option [value]="'Benarous'">
                        Ben arous
                    </mat-option>
                    <mat-option [value]="'Ariana'">
                        Ariana
                    </mat-option>
                    <mat-option [value]="'Nabel'">
                        Nabel
                    </mat-option>
                    <mat-option [value]="'Benzart'">
                        Benzart
                    </mat-option>
                    <mat-option [value]="'Beja'">
                        Beja
                    </mat-option>
                    <mat-option [value]="'Jandouba'">
                        Jandouba
                    </mat-option>
                    <mat-option [value]="'Selyana'">
                        Selyena
                    </mat-option>
                    <mat-option [value]="'Kef'">
                        Kef
                    </mat-option>
                    <mat-option [value]="'Zagwen'">
                        Zagwen
                    </mat-option>
                    <mat-option [value]="'Sousse'">
                        Sousse
                    </mat-option>
                    <mat-option [value]="'Mounastir'">
                        Mounastir
                    </mat-option>
                  <mat-option [value]="'Mehdiya'">
                      Mehdiya
                </mat-option>
                <mat-option [value]="'Sfax'">
                      Sfax
                  </mat-option>
                  <mat-option [value]="'Sidibouzid'">
                      Sidi bouzid
              </mat-option>
              <mat-option [value]="'Gasrine'">
                    Gasrine
                </mat-option>
              <mat-option [value]="'Gafsa'">
                    Gafsa
                </mat-option>
                <mat-option [value]="'Gabes'">
                    Gabes
                </mat-option>
                <mat-option [value]="'Mednin'">
                    Mednin
                </mat-option>
                <mat-option [value]="'Touzeur'">
                    Touzeur
                </mat-option>
              <mat-option [value]="'Gbeli'">
                  Gbeli
              </mat-option>
              <mat-option [value]="'Tatawin'">
                  Tatawin
              </mat-option>
          </mat-select>
      </mat-form-field>

         </div>
         <!-- /recherche filter -->

 <div  class="courses" [@animateStagger]="{value:'50'}" [fxLayout]="'row wrap'"  fxLayoutAlign="center" fusePerfectScrollbar>

    <div class="course"  *ngFor="let ec of terrainfilter2" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"  [@animate]="{value:'*',params:{y:'100%'}}" >
        <div class="course-content" fxLayout="column" fxFlex="1 1 auto" >        
        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="ec.city + '-bg'">
       <div class="category" fxFlex>
           {{ec.typeterrain}}
       </div>
       <span *ngIf="ec.usermail===userco">
        <div class="category" fxLayout="row" fxLayoutGap="5px" fxFlex fxLayoutAlign="end">
         <button mat-icon-button (click)="onEdit(ec);" ><mat-icon>create</mat-icon></button>
         <button mat-icon-button color="warn" (click)="onDelete(ec.$key); " ><mat-icon>delete_outline</mat-icon></button>  
        </div>
     </span>
   </div>
   <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
        <div class="h1"> Terrain :{{ec.name}}</div>
        <div class="updated">  
            <mat-icon class="secondary-text s-18">location_on</mat-icon> {{ec.city}}
        </div>
        <div class="updated">  
                <img class="log secondary-text s-18" src="/assets/images/logos/mony.png">
                {{ec.prixPersone}}
        </div>
        <button mat-icon-button  aria-label="Toggle star" fxLayoutAlign="center center">
                <mat-icon class="amber-fg" >star</mat-icon>
                <mat-icon class="amber-fg" >star</mat-icon>
                <mat-icon class="amber-fg" >star</mat-icon>
                <mat-icon class="amber-fg" >star</mat-icon>
                <mat-icon class="amber-fg" >star</mat-icon>

            </button>
    </div>
    
    <div class="footer" fxLayout="row" fxLayoutAlign="center center">
            <button mat-button style="color:#008B8B"
                    [routerLink]="['/foot',ec.$key]">
                plus de detail
            </button>
        </div>
</div>
          
</div>

        </div>
    </div>

        </div>
  <!-- add Terrain -->
  <div fxLayout="row" fxLayoutAlign="end end"  fxFlex="10" >
    <div fxLayout="column" fxLayoutAlign="end end"  fxFlex="10">
        <button mat-fab style="background-color: #008B8B " id="add-event-button" (click)="onCreate()" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
        <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
</div>