<div id="mail-confirm" fxLayout="column">

  <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

          <div class="logo">
              <mat-icon class="mat-accent s-96">email</mat-icon>
          </div>

          <div class="title">Confirmez votre adresse email!</div>

          <div class="subtitle" *ngIf="authService.user$ | async as user">
              <p>
                Un e-mail de confirmation a été envoyé à <b>{{user.email}}</b>.
              </p>
              <p>
                Vérifiez votre boîte de réception et cliquez sur le lien "Confirmer mon email" 
                pour confirmer votre adresse email.
              </p>
          </div>

          <div class="message">
              <a class="link" [routerLink]="'/login'">Retournez à la page de connexion</a>
          </div>

      </div>

  </div>

</div>
