<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="{{image}}"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
{{ nameuser}}           
        </div>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" (click)="updateTypeUser('prestataire')" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button *ngIf="type=='client'" mat-raised-button aria-label="Follow">Devenir Prestataire </button>
        </div>

        

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

            <mat-tab-group dynamicHeight="true">
    
                <mat-tab label="A propos">
                    <div id="about" class="p-24" fxLayout="row wrap">

                        <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">
                    
                            <div class="profile-box info-box " fxLayout="column">
                    
                                <header style="background-color: #008B8B ">
                                    <div class="title">General Information</div>
                                </header>
                    
                                <div class="content">
                                    <div class="info-line">
                                            <div class="title">Date de Creation</div>
                                    <div class="info">{{datecreation | date:'short'}}</div>

                                    </div>
                                    <div class="info-line">
                                        <div class="title">Dernière Visite</div>
                                        <div class="info location" fxLayout="row" fxLayoutAlign="start center"
                                             >
                                                  <span>{{dtc| date:'short'}}</span>
                                        </div>
                                    </div>
                                    <div class="info-line">
                                        <div class="title">Email</div>
                                        <div class="info">{{email}}</div>
                                    </div>
                                    <div class="info-line">
                                        <div class="title">Type</div>
                                        <div class="info">{{type}}</div>
                                    </div>
                                </div>
                    
                            </div>
                    
                        </div>
                    
                        <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">
                    
                            <div class="profile-box groups" fxLayout="column">
                    
                                <header style="background-color: #008B8B " [routerLink]="'/listematch'" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="title">Rappel</div>
                                    <div class="more secondary-text">
                                        <span>Voir tout</span>
                                    </div>
                                </header>
                    
                                <div class="content"  *ngIf="matchfiltrer2[0]">
                    
                                    <div class="group" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                    
                                        <div fxLayout="column" fxLayoutAlign="start center">
                    
                                                <div > 
                                                        <div class="name">Le plus proche Match </div>
                                                <div class="category">Le {{matchfiltrer2[0].Datedeb}}</div>
                                                <div class="members">a {{matchfiltrer2[0].time}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                    
                        </div>
                    
                    </div>
                    
                </mat-tab>
    
                <mat-tab label="Historique">
                   
                        <div class="order-details tab-content p-24" fusePerfectScrollbar>

                                <div class="section pb-48">
    
                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <div class="h2 secondary-text">Les matchs joués</div>
                                    </div>
    
                                    <div class="customer mb-32" >
                                        <table class="simple">
                                            <thead>
                                                <tr>
                                                    <th>Organisateur</th>
                                                    <th>Terrain</th>
                                                    <th>Date de Match</th>
                                                    <th>Heure de Match</th>

                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let match of matchfiltrer">
                                                <tr>
                                                    <td>
                                                        <div fxLayout="row" fxLayoutAlign="start center">
                                                      <img class="avatar" src="{{match.capitainetof}}">

                                                            <span class="name text-truncate">
                                                                {{match.capitainename}}
                                                            </span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="email text-truncate">
                                                            {{match.terrainname}}
                                                         </span>
                                                    </td>
                                                    <td>
                                                        <span class="company text-truncate">
                                                              {{match.Datedeb}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                            <span class="company text-truncate">
                                                                {{match.time}}
                                                            </span>
                                                        </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
    
                                </div>
    
                               <!-- 
                                <div class="section pb-48">
    
                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <div class="h2 secondary-text">Les proposition d'equipe</div>
                                    </div>
    
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>Date de Rendez-vous</th>
                                                <th>Heure</th>
                                                <th>Ville</th>
                                                <th>Nombre de joueurs manquants</th>
                                        </thead>
                                        <tbody *ngFor="let equipe of equipefilter">
                                            <tr>
                                                <td>
                                                    <span class="text-truncate">
                                                        {{equipe.Datedeb}} 
                                                    </span>
                                                </td>
                                                <td>
                                                        <span class="text-truncate">
                                                            {{equipe.time}} 
                                                        </span>
                                                    </td>
                                                <td>
                                                    <span class="text-truncate">
                                                            {{equipe.city}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="text-truncate">
                                                       {{equipe.nombre}}
                                                    </span>
                                                </td>
                                               
                                               
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
    
                             -->
                               
    
                            </div>
                </mat-tab>
    
            </mat-tab-group>
    
        </div>
    <!-- / CONTENT -->

</div>
