<div class="dialog-content-wrapper">
 <mat-toolbar style="background-color: #008B8B " class=" m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="end end">
              <span class="title2 dialog-title">Gérer Votre Equipe</span>

              <button class="btn-dialog-close" mat-stroked-button 
              (click)="dialogRef.close()"> <mat-icon>close</mat-icon></button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 event-form w-100-p" fusePerfectScrollbar>

      <form [formGroup]="service.form" class="normal-form">
           <mat-grid-list cols="1" rowHeight="500px">
            <mat-grid-tile>
              <div class="controles-container">
                <input type="hidden" formControlName="$key">
                  <mat-form-field appearance="outline">
                       <mat-label>Date</mat-label>
                    <input formControlName="Datedeb" min="{{today | date:'yyyy-MM-dd'}}"  matInput [matDatepicker]="picker" placeholder="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                   </mat-form-field>
                   
                   <mat-form-field appearance="outline">
                      <mat-label>Heure</mat-label>
                      <input matInput type="time" formControlName="time">
                  </mat-form-field> 
                  
                  <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput  formControlName="city">
                </mat-form-field> 

                <mat-form-field appearance="outline">
                  <mat-label>Nombre de joueur</mat-label>
                  <input matInput type="number" formControlName="nombre">
              </mat-form-field> 

            

              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput  formControlName="description"  rows="3">
            </mat-form-field>

         <div class="button-row" fxLayout="row" fxLayoutAlign="end end">
                  <button mat-raised-button 
                  type="submit"
                  class="save-button"
                  style="background-color: #008B8B "
                  (click)="onSubmit()"
                  [disabled]="service.form.invalid">
                      Enregistrer
                  </button>
                 
                 
                  <button mat-raised-button color="warn"  (click)="onClear()">Annuler</button>
         </div>

              </div>
             </mat-grid-tile>
         
          </mat-grid-list>
        
          
        </form>

  </div>

</div>
