<div fxLayoutAlign="center center" class="board">
<div class="board-list-item" 
             fxLayout="column" fxLayoutAlign="center center"
             [@animate]="{value:'*',params:{y:'100%'}}">
            <!-- <mat-icon class="s-56">assessment</mat-icon> -->
            <img class="board-image" src="https://img.icons8.com/color/100/000000/find-user-male.png">
            <div class="board-name">J'ai besoin d'un Terrain</div>
            <button class="btn" (click)="updateTypeUser('client')" mat-flat-button >Demander un service</button>
            <!-- <div class="name">Ajouter des terrain</div> -->
        </div>
        <div class="board-list-item"
             fxLayout="column" fxLayoutAlign="center center"
             [@animate]="{value:'*',params:{y:'100%'}}">
            <!-- <mat-icon class="s-56">assessment</mat-icon> -->
            <img class="board-image" src="https://img.icons8.com/color/100/000000/admin-settings-male.png">
            <div class="board-name">Je propose mes Terrain</div>
            <button class="btn"  (click)="updateTypeUser('prestataire')"  mat-flat-button >Demander un prestataire</button>
            <!-- <div class="name">Trouver un terrain</div>
            <div class="name">Ajouter des amis</div> -->


        </div>
      </div>