@import "src/@fuse/scss/fuse";
.board{
    
    background: url('/assets/images/backgrounds/auth.jpg') no-repeat;
    background-size: cover;
    background-position: right;  height: 100%; 
    background-repeat: no-repeat;
    width: 100%;
.board-list-item {
    min-width: 210px;
    min-height: 210px;
    width: 400px;
    height: 310px;
    padding: 24px 0;
    margin: 16px;
    border-radius: 8px;
    background-color: whitesmoke;
    transition: box-shadow 150ms ease-in;
    cursor: pointer;

    &:hover:not(.add-new-board) {
        @include mat-elevation(8);
    }

    .board-image {
        margin-left: 0%;
        margin-top: -4%;
        text-align: center;
    }
    .board-name {
        padding: 16px 32px 0 32px;
        font-weight: 300;
        font-size: 30px;
        text-align: center;
    }
    .btn{
        background-color: silver;

    }
// .name{
//     font-size: 16px;
//     padding: 16px 32px 0 32px;
//     font-weight: 300;
//     text-align: center;

// }
    &.add-new-board {
        background: rgba(0, 0, 0, 0.06);
        border: 2px dashed rgba(255, 255, 255, 0.37);
    }
}
}