<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!--  BACKGROUND -->
  <div class="top-bg"style="background-color: #008B8B "></div>
  <!-- /  BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header"style="background-color: #008B8B "fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0"fxLayout="row" fxLayoutAlign="start center">
             
               
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                                        Mes réservations
              </span>
          </div>
          <!-- / APP TITLE -->
 
          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0" fxLayout="row" fxLayoutAlign="center center" fxFlex>
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input [(ngModel)]="searchKey"  placeholder="Recherche" autocomplete="off" (keyup)="applyFilter()" >
                  <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                  </button>
              </div>            
           
          </div>
          <!-- / SEARCH -->
          <div class="logo mb-24 mb-md-0">
          <div></div>
          </div>
      </div>
      <!-- / HEADER -->
      <div class="content-card">

        <mat-table class="products-table"
                   #table [dataSource]="listData"
                   matSort
                   [@animateStagger]="{value:'50'}"
                 fusePerfectScrollbar 
                 >

                 <ng-container matColumnDef="user">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Organisateur</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img class="avatar"
                         src="{{element.capitainetof}} "/>{{element.capitainename}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Jour">
                <mat-header-cell *matHeaderCellDef  mat-sort-header>Jour</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.Datedeb}}</mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="Time">
                <mat-header-cell *matHeaderCellDef  mat-sort-header>Time</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.time}}</mat-cell>
              </ng-container>
             
              <ng-container matColumnDef="terrainname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Terrain</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.terrainname}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                      <div fxFlex="row" fxLayoutAlign="end center">
                         
    
                          <button mat-icon-button (click)="$event.stopPropagation();" [matMenuTriggerFor]="moreMenu" aria-label="More">
                              <mat-icon class="secondary-text">more_vert</mat-icon>
                          </button>
          
                          <mat-menu #moreMenu="matMenu">
                              <button mat-icon-button (click)="onEdit(row);"><mat-icon>launch</mat-icon></button> 
                              <button mat-icon-button color="warn" (click)="onDelete(row.$key); "><mat-icon>delete_outline</mat-icon></button>
    
                          </mat-menu>
                      </div>
          
                  </mat-cell>
              </ng-container>
   <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container> 
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Aucun réservation.
                </mat-footer-cell>
              </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
    
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     class="product"
                     matRipple
                     >
            </mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
         
         <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </mat-table>
    
        <mat-paginator #paginator
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
   
  </div>
  <!-- / CENTER -->
</div>
